<div style="max-width: 700px; margin: auto;  ">

  <h1 style="text-align: center;">
    El problema de Monty Hall
  </h1>

  <p>
    El Problema de Monty Hall es un problema de probabilidad que está inspirado por el concurso televisivo
    estadounidense Let's Make a Deal(Hagamos un trato). , famoso entre 1963 y 1986. Su nombre proviene del presentador,
    Monty Hall.
  </p>

  <div style="display: block;
    margin: 1em 1em 2em 1em;
    padding: 0.8em;
    border: 1px solid #D8E8FA;
    background-color: #faf5e0;">
    En este concurso, el concursante escoge una puerta entre tres, y su premio consiste en lo que se encuentra detrás.
    Una de ellas oculta un auto, y tras las otras dos hay una cabra. Sin embargo, antes de abrirla, el presentador, que
    sabe donde esta el premio, abre una de las otras dos puertas y muestra que detrás de ella hay una cabra. Ahora tiene
    el concursante una última oportunidad de cambiar la puerta escogida ¿Debe el concursante mantener su elección
    original o escoger la otra puerta? ¿Hay alguna diferencia?
  </div>

  <div style="display: flex; justify-self: center; align-items: center; justify-content: space-around;">

    <div *ngIf="!isInGame">
      <img src="assets/GAME.png">
    </div>


    <img (click)="play(door)" *ngFor="let door of doors" [src]="door.url" width="100" height="200">

  </div>


  <div *ngIf="step==1 || step==4"
       style="display: flex; justify-self: center; align-items: center; justify-content: center; padding-top: 40px;">
    <button (click)="play()"> Jugar!</button>
    <button (click)="clickOnHome()" style="margin-left: 1rem;"> Inicio</button>
  </div>

  <p *ngFor="let item of score" >
    {{item}}
  </p>


</div>

