<div style="max-width: 700px; margin: auto; ">

  <div style=" height: 100vh;  display: flex; justify-self: center; align-items: center; justify-content: space-around; align-content: center;">
    <div class="card" style="width: 18rem;">
      <img src="assets/GAME.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El problema de Monty Hall</h5>
        <p class="card-text">¿Cúal sería la opción correcta?</p>
        <button (click)="clickOnGame()" class="btn btn-primary">Go to play</button>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="assets/LIST.png" class="card-img-top" height="147.38px" width="286px">
      <div class="card-body">
        <h5 class="card-title">Encontrar total</h5>
        <p class="card-text">Listado de juegos y premios </p>
        <button (click)="clickOnList()" class="btn btn-primary">Go to list of games</button>
      </div>
    </div>
  </div>

</div>
